li:hover{
    border:green solid 2px;
}

li a{
    writing-mode: vertical-lr;
    padding:20px;
}

li{
    transform: rotate(180deg);
    border-top: solid 1px black;
    margin-left:5px;
}

ul{
    list-style-type:none;
    display:flex;
    flex-wrap: wrap;
}

.separator{
    border-top: 1px solid black;
    margin-top:-5px;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

.container div{
    flex-basis: 45%;
}

.library{
    flex-shrink:1;
    padding-right: 5%;
    background-color: rgba(182, 61, 40, 0.815);
}

.desktop{
    flex-shrink: 2;
    padding-left: 5%;
    margin:auto;
}